.bianco{
    background-color: white;
}

.nero{
    background-color: black;
}

.marrone{
    background-color: #996132;
}

.avorio{
    background-color: #F4FDCD;
}

.rosa{
    background-color: #F8D090;
}